@{
    ViewData["Title"] = "Register Account";
}

<div class="row justify-content-center align-content-center" style="height:80vh">
    <div class="col col-sm-12 col-md-8 col-lg-8 col-xl-8 p-3">
        <div class="d-flex flex-column p-3">
            <div class="mb-3">
                <h4>Register Account</h4>
            </div>
            <form method="post" asp-action="Register" asp-controller="Account">
                <div class="mb-3">
                    <input type="text" class="form-control" id="username" placeholder="Username" autocomplete="off">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="email" placeholder="Email" autocomplete="off">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="phone" placeholder="Phone">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" row=3 id="phone" placeholder="Address"></textarea>
                </div>
                <div class="mb-3">
                    <button type="submit" class="from-control btn btn-block btn-primary w-100">Register</button>
                </div>
            </form>
