@page {
  size: A4 !important;
}

@media print {
}

html,
body {
  width: 210mm !important;
  height: auto !important;
  padding-top: 0.5cm !important;
  padding-left: 0.5cm !important;
  padding-right: 0.7cm !important;
  overflow-wrap: normal !important;
}
